@inherits LayoutComponentBase

        <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">Best coffe shop</span><span class="site-heading-lower">Hello coffee</span></h1>
        <NavMenu />
        @Body


        <Footer />
